* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: aqua;
}
h1 {
    color: #FFF;
font-family: Sora;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 84px; /* 120% */
text-transform: capitalize;
}
p{
    color: #DADADA;
font-family: Sora;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 177.778% */
}
.quote {
    width: 212px;
height: 60px;
flex-shrink: 0;
border-radius: 30px;
background: #FDD114;
border: none;
}
.blue {
    
/* transform: rotate(-36.651deg); */
flex-shrink: 0;
border-radius: 336.786px;
background: rgba(30, 86, 161, 0.80);

width: 650px; 
 height: 400px; 
  transform: rotate(-36.65deg);
   /* transform-origin: 0 0;  */
   background: rgba(30, 86, 161, 0.80);
    border-radius: 336.79px;
    mar
}
.s-systems{
width: 100%;
height: 796px;
flex-shrink: 0;
background: url(./images/house\ pan\ pic.png), lightgray 50% / cover no-repeat;

}


h3{
color: #FFF;
text-align: center;
font-family: Sora;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 266.667% */
text-transform: capitalize;
}
.box1 {
    /* width: calc(680px * 0.8);
height: calc(370px * 0.8); */
width: 50%;
    height: 370px;
flex-shrink: 0;
border-radius: 30px;
background: #0A9642;
text-align: center;
/* margin-right: 41px;
margin-left: 260px; */

}
.box2{
    /* width: calc(680px * 0.8);
    height: calc(370px * 0.8); */
    width: 50%;
    height: 370px;
flex-shrink: 0;
border-radius: 30px;
background: #1E56A1;
text-align: center;
margin-right: 260px;
}
.light{
    width: 130px;
height: 130px;
flex-shrink: 0;
}
.sol{
    color: #FFF;
text-align: center;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}
.boxes{
    display:flex;
    margin-top: 115px;
}
.gray{
    width: 610px;
height: 300px;
flex-shrink: 0;
border-radius: 30px;
background: rgba(0, 0, 0, 0.50);
}
.small{
    width: 300px;
height: 300px;
flex-shrink: 0;
border-radius: 30px;
background: rgba(0, 0, 0, 0.50);
}
.big{
    width: 50%;
height: 600px;
flex-shrink: 0;
border-radius: 30px;
background: rgba(23, 25, 90, 0.50);
}
.s-contain{
    display: flex;
}
.boxes2{
    display: flex;
    
}
.smallgray{
    display: flex;
    flex-direction: column;
}
.members{
    background: var(--bg-color);
}
.members h4{
    color: #000;
/* text-align: center; */
font-family: Sora;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.members p {
width: 295px;
height: 57px;
flex-shrink: 0;
color: #666;
text-align: center;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
@media (max-width:425px){
    .s-systems{
        width: auto;
    }
    .boxes{
        flex-direction: column;
    }
    .box1{
        width: 100%;
        margin-block: 8px;
    }
    .box2{
        width: 100%;
        margin-block: 8px;
    }
    .gray{
        width: 100%;
    }
    .boxes2{
        flex-direction: column;
    }
    .big{
        width: 100%;
        margin: auto;
    }
    .s-contain{
        flex-direction: column;
        margin: auto;
    }
    .blue{
        width: auto;
    }
}
